@model cbsStudents.Models.Entities.Event

@{
    ViewData["Title"] = "Edit";
    ViewBag.EventId = Model.EventId;
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @await Html.PartialAsync("_CreateEditPartial", Model)
            <input type="hidden" asp-for="EventId"/>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
